{%load static%}
{{block.super}}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- load static -->


    <!-- link css in other htmls -->
    <link rel="stylesheet" href="{% static 'home/CSS/base/style.css' %}" type="text/css">
    <!-- link fonts -->
    <link rel="stylesheet" href="{% static 'home/CSS/fonts.css' %}" type="text/css"> {% block links %}{%endblock%}
    <title>
        {%block title%}title{%endblock%}

    </title>
</head>

<body>
    <nav>
        <div class="logo">
            <a href="{%url 'home:homeurl'%}">
                <h4>LOGO</h4>
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="#">خانه</a></li>
            <li><a href="#">محصولات</a></li>
            <li><a href="#">بلابلا</a></li>
            <li><a href="#">بلابلا</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <div class="container">
        <div class="underheader">

            <div class="searchox">
                <form action="#">
                    <input type="text" placeholder="جستجو در میان کالا ها">
                </form>

                <img class="searchic" src="{% static 'home/icons/search.png' %}" alt="search icon">
            </div>
            {% if user.is_authenticated %}
            <a href="{%url 'accounts:profile'%}"><img src="{% static 'home/icons/user.png' %}" alt="user icon" class="useric"></a>
            {% else %}
            <a href="{% url 'accounts:login' %}"><img src="{% static 'home/icons/user.png' %}" alt="user icon" class="useric"></a>
            {% endif %}
            <a href="{% url 'home:cart' %}"><img src="{% static 'home/icons/basket.png' %}" alt="basket icon" class="basketic"></a>
            <div class="bascket_total">
                {% if items_total == None %}
                <p>0</p>
                {% else %}
                <p>{{ items_total }}</p>

                {% endif %}
            </div>
        </div>

    </div>

    <!-- content block -->
    {%block content%}{%endblock content%}
    <!-- footer -->
    <div class="footer">
        <ul class="footer_links">
            <li><a href="">سوالات متداول</a></li>
            <li><a href="">همکاری</a></li>
            <li><a href="">تماس با ما</a></li>
            <li><a href="">راهنما</a></li>
            <li><a href="">وبلاگ</a></li>
            <li><a href="">گزارش</a></li>
            <li><a href="">تماس با ما</a></li>
        </ul>
        <div class="copyright">
            <div class="line"></div>
            <p>
                کلیه حقوق این سایت متعلق به شرکت پیشرودرمان است.
            </p>
        </div>

    </div>
    <script src="{% static 'home/JS/app.js' %}"></script>
</body>

</html>