{% extends 'base.html' %} {%load static%} {% block title %} {{product.persian_name}} {% endblock title %} {% block links %}
<link rel="stylesheet" href="{% static 'home/CSS/prodect_detail/prodect_detail.css' %}" type="text/css"> {% endblock links %} {% block content %}
<div class="unique_prodect_detail">
    <h1>{{product.persian_name}}</h1>
    <div class="line"></div>
    <div class="prodect">
        <img src="media/{{MEDIA_URL}}{{product.image}}" alt="" class="first">
        <div class="un">
            <div class="category">
                <p>دسته بندی</p>
                <h2>{{product.category}}</h2>
            </div>
            <div class="basketbtn">
                {% if user.is_authenticated %}
                        {% if product in cartitems %}
                        <a href="{% url 'home:remove_cart' product.slug %}"><img src="{% static 'home/icons/remove.png' %}" alt="" class="addtobasket"></a>

                        {%else%}
                        <a href="{% url 'home:add_cart' product.slug %}"><img src="{% static 'home/icons/addtobasket.png' %}" alt="" class="addtobasket"></a>
                        {%endif%}
                        {% else %}
                        <a href="{% url 'accounts:login'%}"><img src="{% static 'home/icons/addtobasket.png' %}" alt="" class="addtobasket"></a>
                        {% endif %}
            </div>
        </div>
        <div class="price">
            <p>{{product.pricesn}} ریال</p>
        </div>
        <p>{{product.detail}}</p>
    </div>
</div>
{% endblock content %}