@import '../../../vars';
.login_container {
    width: 100%;
    height: 53vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font1;
    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 70%;
        background-color: $clgreen;
        border-radius: 10px;
        margin: auto;
        form {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            label {
                direction: rtl;
                color: $clwhite;
            }
            input {
                margin: 10px 0;
                width: 80%;
                height: 30px;
                border-radius: 25px;
                border: none;
                padding: 0 10px;
                background-color: rgba($color: $clwhite, $alpha: 0.5);
            }
            input:hover,
            input:valid {
                background-color: $clwhite;
            }
            button {
                border: none;
                // border-radius: 25px;
                background-color: rgba($color: $clorange, $alpha: 0.7);
                color: $clwhite;
                font-weight: bold;
                width: 100%;
                height: 25px;
                font-family: $font1;
            }
            button:hover {
                background-color: rgba($color: $clorange, $alpha: 1);
            }
            p.error {
                direction: rtl;
                font-size: 14px;
                color: $clwhite;
                font-weight: 300;
                margin-top: 10px;
            }
        }
        p.signup {
            font-weight: bold;
            color: $clgray;
            font-size: 14px;
            a {
                background-color: $clorange;
                color: $clwhite;
            }
            margin-bottom: 10px;
        }
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.signup_container {
    background-color: $clgreen;
    padding: 10px 0;
    margin: 10px;
    border-radius: 10px;
    font-family: $font1;
    .signup {
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            button {
                border: none;
                // border-radius: 25px;
                background-color: rgba($color: $clorange, $alpha: 0.7);
                color: $clwhite;
                font-weight: bold;
                width: 100%;
                height: 25px;
                font-family: $font1;
            }
            button:hover {
                background-color: rgba($color: $clorange, $alpha: 1);
            }
            label {
                direction: rtl;
                color: $clwhite;
            }
            input {
                margin: 10px 0;
                width: 80%;
                height: 30px;
                border-radius: 25px;
                border: none;
                padding: 0 10px;
                background-color: rgba($color: $clwhite, $alpha: 0.5);
            }
            input:hover,
            input:valid {
                background-color: $clwhite;
            }
        }
    }
}

.logout_container {
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .success {
        width: 70%;
        background-color: $clorange;
        padding: 10px 0;
        margin: 10px;
        border-radius: 10px;
        font-family: $font1;
        direction: rtl;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $clwhite;
        p.logoutt {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            background-color: $clgreen;
            border-radius: 25px;
            width: 90%;
            height: 35px;
        }
        p.login {
            font-weight: bold;
            color: $clgray;
            font-size: 14px;
            margin: 20px 0;
            a {
                background-color: $clgreen;
                color: $clwhite;
                margin-right: 5px;
            }
        }
    }
}