@import '../../../vars';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100% !important;
    position: relative;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: $clgray;
    font-family: $font1;
    font-weight: normal;
}

.logo {
    color: $clgreen;
    text-transform: uppercase;
    font-size: 22px;
    margin: 0 20vw;
}

.logo h4 {
    font-size: 30px;
}

.nav-links {
    position: fixed;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: $clgray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    z-index: 1;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: $clblack;
    font-size: 14px;
}

.burger {
    display: block;
}

.burger div {
    height: 3px;
    width: 25px;
    background-color: $clblack;
    margin: 5px;
}

.container {
    padding: 0 5vw;
}

.underheader form input {
    display: flex;
    border: 1px solid $clblack;
    border-radius: 25px;
    width: 230px;
    height: 27px;
    text-align: right;
    padding-right: 30px;
}

.underheader form input::placeholder {
    font-family: $font1;
}

.underheader {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 290px;
    padding-top: 10px;
    .bascket_total {
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50px;
        background-color: $clorange;
        margin-top: 6px;
        margin-left: 6px;
        padding: 0 auto;
        p {
            color: $clwhite;
            font-size: 10px;
            margin: 2px 5px;
            font-family: $font1;
        }
    }
}

.searchox img {
    padding-right: 10px;
    height: 18px;
    position: absolute;
    z-index: 0;
}

.searchox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    cursor: pointer;
}

.useric {
    width: 20px;
    height: 24px;
    cursor: pointer;
}

.basketic {
    width: 23px;
    height: 25px;
    margin-left: 10px;
    cursor: pointer;
}

// home.html
.homecontainer {
    // padding: 0 20px;
    font-family: $font1;
}

.headslider {
    // position: relative;
    margin: 10px 0 0 0;
    padding: 20px 10px;
    width: 100%;
    height: 300px;
    background-color: $clgreen;
}

.slide {
    // position: unset;
    background-color: $clorange;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    display: none;
}

.slide.active {
    display: block;
}

.items {
    height: 100%;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    text-align: center;
}

.items .itemimg img {
    border: solid 5px $clwhite;
    border-radius: 25px;
    width: 136px;
    height: 136px;
}

.items h1 {
    font-size: 24px;
}

.items p {
    font-size: 14px;
}

.items .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.detail {
    background: none;
    border: solid 2px $clwhite;
    border-radius: 25px;
    font-family: $font1;
    color: $clwhite;
    padding: 0 5px;
}

.buttons .addtobasket {
    width: 36px;
    height: 38px;
}

.last-products {
    width: 100%;
    background-color: $clwhite;
    text-align: right;
}

.last-products h1 {
    font-size: $headerfontsize;
    margin: 20px 15px 0 0;
    color: $clgreen;
}

.last-products .line {
    width: 100%;
    height: 5px;
    background-color: $clorange;
}

.products {
    height: max-content;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    padding-bottom: 10px;
}

.product {
    padding-bottom: 10px;
    margin: 10px;
    width: max-content;
    height: 90%;
    border-radius: 10px;
    background-color: $clorange;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        margin: 10px 0 0 0;
        width: 136px;
        height: 136px;
        // margin: 0 82px;
    }
    .line {
        align-self: flex-end;
        margin: 5px 0;
        width: 70%;
        background-color: $clwhite;
    }
    h1 {
        color: $clwhite;
        font-size: 22px;
    }
    p {
        color: $clwhite;
        text-align: center;
        width: 80%;
        font-size: 14px;
    }
    .addtobasket {
        width: 34px;
        height: 100%;
    }
    .detail {
        font-weight: bold;
    }
    .btns {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        color: $clgreen;
        text-align: center;
        font-size: 20px;
    }
    .line {
        margin: 5px 0;
        height: 5px;
        width: 30%;
        background-color: $clorange;
    }
    .cat {
        display: flex;
        flex-direction: row;
    }
    .cat_item {
        background-color: $clgray;
        box-shadow: 3px 3px 20px $clgray;
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
        margin: 0 2px;
        padding: 10px 0;
        justify-content: center;
        align-items: center;
        img {
            width: 70px;
        }
        h3 {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            color: $clwhite;
            text-shadow: 3px 3px 20px $clblack;
        }
    }
}

.footer {
    margin-top: 20px;
    width: 100%;
    background-color: $clgray;
    font-family: "kohinoor";
    padding: 20px;
    text-align: right;
    ul {
        display: flex;
        flex-wrap: wrap;
    }
    a {
        text-decoration: none;
        color: $clblack;
    }
    li {
        list-style: none;
        flex: 0 0 50%;
        padding: 0 25px;
        margin-top: 10px;
    }
    .copyright {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        direction: rtl;
        .line {
            width: 70%;
            height: 1px;
            background-color: $clwhite;
            margin-bottom: 20px;
        }
        p {
            color: $clblack;
            font-size: 12px;
        }
    }
}

// mediaquerys
@media screen and (min-width:768px) {
    .burger {
        display: none;
    }
    .nav {
        display: flex;
        flex-direction: column;
    }
    .nav-links {
        position: relative;
        right: 0;
        height: auto;
        top: auto;
        background-color: $clgray;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        transform: translateX(0%);
        transition: 0.5s ease-in;
        z-index: 1;
    }
}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 60%;
    }
}

// animations
.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}